<h1>Cash Tracking</h1>

<h4>{{ "$ " + Suma || "$ 0.00"}}</h4>

<p>Amount</p>
<input type="number" placeholder="$ 0.00" step="1" min=0 #entrada>
<p></p>
<a class="waves-effect waves-light btn-large" (click)="obtenerValor(entrada.value, 'income')" (click)="entrada.value = ''" type="income">INCOME</a>
<a class="waves-effect waves-light btn-large" (click)="obtenerValor(entrada.value, 'expense')" (click)="entrada.value = ''" type="expense">EXPENSE</a>

<ul class="collection with-header">
  <li class="collection-header"><h4>Transactions</h4></li>
  <li *ngFor="let transaccion of transacciones" class="collection-item">
    {{transaccion[0]}}
    <p *ngIf="transaccion[1] === 'expense'"> <i class="material-icons">trending_down</i> </p>
    <p *ngIf="transaccion[1] === 'income'"> <i class="material-icons">trending_up</i> </p>
  </li>
</ul>
